#root>h1{
    text-align: center;
}

.main{
    width: 100%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* left side */
.leftSide{
    width: 20%;
    background-color: cadetblue;
    text-align: center;
}

/* Styles for Imgage */
.image>img{
    width: 100%;
    border-radius:40%;
}

/* right side */
.rightSide{
    background-color: coral;
    width: 79%;
}


@media (min-device-width:320px) and (max-device-width:480px){
    .leftSide,
    .rightSide{
        width: 100%;
    }

    .details{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }